@font-face {
    font-family: 'Didot';
    src: url('assets/fonts/Didot.eot');
    src: url('assets/fonts/Didot.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Didot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Didot-Italic';
    src: url('assets/fonts/Didot-Italic.eot');
    src: url('assets/fonts/Didot-Italic.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Didot-Italic.woff') format('woff'),
         url('assets/fonts/Didot-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #123a24;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#loading
{
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    background-color: #fff;
    /*background-color: #EBEBEB;*/
    /*display: none;*/
}


.outer_container
{
  display: none;
}

#loading .sk-circle 
{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  /*width: 70%;*/
}

.container
{
	width: 100% !important;
	padding-left: 0;
	padding-right: 0;
}

.top_div
{
  width: 100%;
  position: relative;
  background-color: #EBEBEB;
  padding-bottom: 20px;
  background-color: #2e4823;
}

.top_div_main
{
  width: 100%;
  /*height: 800px;*/
  padding-top: 9%;
  padding-bottom: 2%;
}

.top_div_main_img_2
{
  width: 10% !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px !important;
}

.top_div_main_img_1
{
  width: 100% !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.top_div_main_span_1
{

}

.header_div
{
  width: 100%;
  padding: 16px;
  position: fixed;
  z-index: 100;
}

.top_head_class
{
  background-color: rgba(0,0,0,0.5);
}

.head_spans
{
  text-align: center;
}

.head_spans span
{
  font-family: 'Didot';
  color: #fff;
  font-size: 17px;
  margin-right: 5px;
  text-transform: uppercase;
  display: inline-block;
  /*margin-bottom: 20px;*/
}

.head_spans span:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.head_spans img
{
  margin-left: 40px;
}

.top_img img
{
  width: 25px;
  margin-left: 0;
}

.top_div_text
{
  text-align: center;
}

.top_div_text_span_1
{
  font-family: 'URWImperialT-Regu';
  color: #123a24;
  font-size: 20px;
  display: block;
}

.top_div_text_span_2
{
  font-family: 'Didot';
  color: #fff;
  font-size: 35px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.top_div_text_2
{
  padding-top: 2%;
  text-align: center;
}

.top_div_text_2_span_1
{
  font-family: 'Helvetica Neue';
  color: #123a24;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.top_div_text_2_p
{
  font-family: 'Helvetica Neue';
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 15px;
}

.top_div_text_2_p_2
{
  padding-top: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.slider_div
{
  border-top: solid 5px #fff;
  border-bottom: solid 5px #2e4823;
}

.prop_div
{
  text-align: center;
  padding-top: 4%;
  padding-bottom: 3%;

  /*background-image: url("assets/img/properties/c1.jpg");
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.prop_div_span_1_div
{
  margin-bottom: 10px;
}

.prop_div_span_2_div
{
  margin-bottom: 30px;
  text-align: center;
}

.prop_div_span_1
{
  font-family: 'Didot';
  color: #0e3329;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.prop_div_span_2
{
  font-family: 'Helvetica Neue';
  color: #d1ac2b;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.prop_slider
{
  width: 85% !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#owl-demo
{
  width: 100%;
  float: left;
  /*background-color: #333333;*/
  margin-bottom: 10px;
}
#owl-demo .item
{
  background: transparent;
  padding: 30px 0px;
  /*padding: 14px;*/
  padding: 2px;
  /*width: 125px;
  height: 125px;*/
  /* margin: 5px; */
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0;
  text-align: center;
  position: relative;
  /*top: 50%;
  transform: translateY(-50%);*/
}

.owl-item
{
  /*height: 140px;*/
  padding: 10px;
  /*margin-right: 5px;
  margin-left: 5px;*/
  background-color: transparent;
}

.owl-item img:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.owl-buttons
{
  display: none;
}

.item img
{
  /*width: 100%;*/
  height: 180px;
}


.prop_bot_div
{
  margin-top: 15px;
  text-align: center;
}

.prop_bot_div_span
{
  font-family: 'Helvetica Neue';
  color: #2e4823;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.prop_bot_div_p
{
  font-family: 'Helvetica Neue';
  color: #000;
  font-size: 16px;
  text-align: center;
  padding: 25px;
  /*padding: 4%;
  padding-bottom: 20px;*/
}

.prop_bot_div_p_1
{
  padding-bottom: 0;
  margin-bottom: 0;
}

.prop_bot_div_p_2
{
  padding-top: 0;
}

.download_bro_div
{
  text-align: center;
  margin-bottom: 10px;
}

.download_bro_div button
{
  background-color: #2e4823;
  color: #fff;
  border: solid 2px #2e4823;
  border-radius: 12px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Didot';
}

.download_bro_div button:hover, .download_bro_div button:focus
{
  background-color: #fff;
  color: #2e4823;
  border-color: #2e4823 !important;
}

.club_main_bg
{
  width: 100%;
  margin-top: 20px;
}

.club_main_bg img
{
  width: 100%;
}

.amen_div
{
  padding-left: 10px;
  padding-right: 10px;
  /*border-top: solid 1px #0e3329;
  border-bottom: solid 1px #0e3329;*/
  background-color: #e4e4e4;
  /*width: 90% !important;*/
}

.amen_div #owl-demo
{
  float: none;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.amen_p
{
  font-family: 'Helvetica Neue';
  padding: 20px;
  text-align: center;
  color: #000;
  margin-top: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.hidden_text
{
  display: none;
}

.hidden_slider
{
  display: none !important;
}

.hidden_image_div
{
  display: none;
}

.floor_img:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#modal-4 .md-content img 
{
  width: 100%;
}

#modal-4 .md-content
{
  background-color: transparent !important;
}

#modal-4 .md-close
{
  display: block !important;
  left: initial;
  right: -10px;
}

#modal-5 .md-content
{
  background-color: transparent !important;
  text-align: center;
}

#modal-5 p
{
  text-align: center;
  width: initial !important;
}

#modal-5 .md-content span 
{
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

#modal-4 .md-content img , #modal-5 .md-content img 
{
  width: 100%;
  /*margin-bottom: 20px;
  margin-top: 15px;*/
  border: solid 3px #fff;
}

#modal-5 .md-content img 
{
  margin-top: 10px;
}

#modal-5 .md-close
{
  display: block !important;
  left: initial;
  right: -10px;
}

.prop_div_span_2_1:hover, .prop_div_span_2_2:hover
{
  opacity: 0.75;
  cursor: pointer;
}
.amen_div_span_1_div
{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.amen_div_span_1
{
  font-family: 'Didot';
  color: #295941;
  font-size: 40px;
  text-transform: uppercase;
}

.owl-demo_2 p
{
  font-family: 'Roboto-Regular';
  color: #424343;
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}


.owl-demo_2 .item img
{
  /*height: 250px;*/
  height: 220px;
}

.owl-demo_2 .item span
{
  font-family: 'Roboto-Regular';
  color: #0e3329;
  font-size: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  /*letter-spacing: 4px;*/
}

.owl-demo_2 img:hover
{
  cursor: default !important;
  opacity: 1 !important;
}

.const_div
{
  width: 100%;
  background-image: url("assets/img/const_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2%;
  padding-bottom: 20px;
}

.const_div_span_1_div
{
  margin-bottom: 10px;
}

.const_div_span_2_div
{
  margin-bottom: 10px;
}

.const_div_span_1
{
  font-family: 'Didot';
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.const_div_span_2
{
  font-family: 'Helvetica Neue';
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.const_div_span_1_div, .const_div_span_2_div
{
  text-align: center;
}

.const_owl .const_img
{
  height: 200px;
}

.location_div
{
  padding-top: 2%;
  padding-bottom: 20px;
}

.location_div_span_1_div, .location_div_span_2_div
{
  text-align: center;
}

.location_div_span_1_div
{
  margin-bottom: 30px;
}

.location_div_span_1
{
  font-family: 'Didot';
  color: #295941;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.location_div_span_2
{
  font-family: 'Helvetica Neue';
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}

.location_div_p_div
{
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.location_div_p
{
  font-family: 'Helvetica Neue';
  color: #000;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.location_div_p_1
{
  padding-bottom: 15px;
  font-family: 'Helvetica Neue';
}

.location_div_p_2
{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Helvetica Neue';
}

.location_div_p_3
{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
  font-family: 'Helvetica Neue';
}

.maps_div
{
  padding-bottom: 20px;
}

.maps 
{
  width: 64%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px #0e3329;
}


.partners_div
{
  width: 100%;
  background-color: #e1f0e6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partners_div_span_1_div
{
  text-align: center;
  margin-bottom: 20px;
}

.partners_div_span_1
{
  font-family: 'Didot';
  color: #2e4823;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.partners_div_images_div, .partners_div_images_div_2
{
  text-align: center;
}

.partners_div_images_div
{
  margin-bottom: 20px;
}

.partners_div_images_div_2
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.partners_div_images_div_2 img
{
  width: 35%;
}

.part_image
{
  display: inline-block;
  width: 20%;
  margin-right: 20px;
}

.reg_div
{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.reg_frame
{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reg_form
{
  margin-top: 20px;
}

.reg_div_span
{
  font-family: 'Didot'; 
  color: #2e4823;
  font-size: 35px;
}

.form-control
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 22px;
  border-radius: 15px;
  background-color: #b4b4b4;
  font-family: 'Didot';
}

.submit_btn
{
  background-color: #2e4823;
  border: solid 2px #2e4823;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 20px;
  font-family: 'Didot';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.submit_btn:hover, .submit_btn:focus
{
  background-color: #fff !important;
  border-color: #2e4823 !important;
  color: #2e4823 !important;
}

.form-group
{
  margin-bottom: 35px;
}

.form_inputs::-webkit-input-placeholder {
color: #565656 !important;
/*font-size: 20px;*/
}
 
.form_inputs:-moz-placeholder { /* Firefox 18- */
color: #565656 !important;  
/*font-size: 20px;*/
}
 
.form_inputs::-moz-placeholder {  /* Firefox 19+ */
color: #565656 !important;  
/*font-size: 20px;*/
}
 
.form_inputs:-ms-input-placeholder {  
color: #565656 !important;  
/*font-size: 20px;*/
}

.select_input
{
  text-align-last: center;
  /*-webkit-appearance: none;*/
  -webkit-border-radius: 20px;
}



.footer_div
{
  width: 100%;
  background-color: #2e4823;
  padding: 20px;
  text-align: center;
  position: relative;
}

.footer_div_span
{
  font-family: 'Didot';
  color: #fff;
  font-size: 15px;
}

.footer_icons
{
  text-align: center;
  margin-top: 12px;
}

.footer_icons img
{
  margin-right: 5px;
  display: inline-block;
}

.footer_icons img:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#gform_1, .md-trigger
{
  display: none;
}

.md-close, .md-trigger
{
    display: none;
}

.md-close
{
  position: absolute;
  top: -10px;
  left: -10px;
  color: #333333;
  border: solid 1px #333333;
  background-color: #fff;
}

.md-close:hover
{
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}

.md-content > div
{
  padding-bottom: 10px !important;
}

.md-content
{
  background-color: #fff !important;
}
.md-content h3
{
  color: #123a24 !important;
}

.md-content img
{
  width: 50px;
  margin-right: 12px;
}

.footer_last
{
  padding-top: 1%;
}

.footer_last span
{
  font-family: "Myriad Pro";
  color: #fff;
  display: block;
}

.top_arrow
{
  position: absolute;
  left: 3%;
  top: -35px;
}

.top_arrow:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.md-content h3
{
  background: rgba(255,255,255,0.5) !important;
}

.phone_img
{
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 20px;
}

.location_div_span_num
{
  font-size: 33px;
}

a:focus, a:hover
{
  text-decoration: none;
}

.cont_span
{
  font-family: 'Helvetica Neue';
  font-weight: bold;
}

.cont_span_2
{
  display: block;
}

.phone_head
{
  width: 20px;
}

/********* Nav Bar Mobile **********/


.mobile_nav
{
  display: none;
}

.header
{
  z-index: 999;
}

.navbar-brand
{
  height: inherit;
  padding: 0;
  padding-left: 10px;
}

.navbar-default
{
  background: none;
  border: none;
}
.navbar-toggle
{
  margin-top: 18px;
}

.container-fluid
{
  background-color: rgba(0,0,0,0.5);
}

.navbar-default .navbar-toggle .icon-bar
{
  /*background-color: #2e4823;*/
  background-color: #fff;
}

.navbar-default .navbar-toggle 
{
    /*border-color: #ed6086;*/
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
    /*background-color: #ed6086;*/
    background: none;
}

.navbar-default .navbar-toggle:hover .icon-bar
{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus .icon-bar
{
    background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
  /*border-color: #ed6086;*/
  border: none;
}

.navbar-nav .menu_spans
{
  font-family: 'Didot';
  color: #2e4823 !important;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
  background-color: rgba(255, 255, 255, 1);
}

.header_2
{
  position: fixed;
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.7) !important; 
  top: 0;
}

.header_2 span
{
  color: #ed6086;
}

.n_logo
{
  width: 40px;
  margin-top: 7px;
}

.n_logo:hover
{
  opacity: 0.75;
  cursor: pointer;
}
/***********************************/

.ser_spans
{
  font-size: 15px !important;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

  .head_spans span
  {
    font-size: 14px;
  }

  #loading video 
  {
    width: 100%;
  }

  .top_div_main
  {
    padding-top: 15%;
  }

  .top_div_main_img_2
  {
    width: 15% !important;
  }

  .pay_div_images_div img {
    display: block;
    margin-right: 20px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.reg_div_span
{
  font-size: 20px;
}

input::-webkit-input-placeholder {
font-size: 12px;
}
 
input:-moz-placeholder { /* Firefox 18- */
font-size: 12px;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
font-size: 12px;
}
 
input:-ms-input-placeholder {  
font-size: 12px;
}

.footer_last
{
  margin-top: 20px;
  padding-top: 0;
}

.maps
{
  width: 85%;
}

.md-modal
{
  max-width: initial !important;
  width: 70% !important;
}

.top_div_text_span_2, .const_div_span_1, .const_div_span_2, .partners_div_span_1
{
  font-size: 25px;
}

.prop_div_span_1, .location_div_span_1
{
  font-size: 30px;
}

.reg_frame
{
  width: 80%;
}

.form-control
{
  padding: 6px;
}

.header_div
{
  display: none;
}

.mobile_nav
{
  display: block;
  text-align: center;
}

}

@media screen and (max-width: 500px) {

.remove_mobile
{
  display: none;
}

input::-webkit-input-placeholder {
font-size: 8px;
}
 
input:-moz-placeholder { /* Firefox 18- */
font-size: 8px;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
font-size: 8px;
}
 
input:-ms-input-placeholder {  
font-size: 8px;
}

.owl-demo_2 .item img
{
  height: 180px;
}
.owl-demo_2 p
{
  width: initial !important;
}

.top_div_main {

     /*padding-top: 28%; */
}

}

@media screen and (max-width: 400px) {


.top_div_main {

     /*padding-top: 38%; */
}

}