.main_content
{
  padding-bottom: 0;
}

.image_div
{
    padding-top: 50px;
    /*padding-bottom: 40px;*/
}

.main_image
{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main_image img
{
    width: 100%;
}

.map_div
{
    position: relative;
}

.map_div a:hover
{
    cursor: default;
}

.pin_unkown_1
{
    position: absolute;
    left: 32.3%;
    top: 30.6%;
    width: 1%;
}

.morocco_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 32.3%;
    top: 20.6%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.morocco_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 32.3%;
    position: absolute;
    z-index: 99;
}*/

.pin_unkown_2
{
    position: absolute;
    left: 54.9%;
    top: 15.6%;
    width: 1%;
}

.turkey_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 54.9%;
    top: 5.6%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.turkey_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 54.9%;
    position: absolute;
    z-index: 99;
}*/

.pin_unkown_3
{
    position: absolute;
    left: 77.1%;
    top: 26.9%;
    width: 1%;
}

.afghanistan_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 77.1%;
    top: 16.9%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.afghanistan_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 77.1%;
    position: absolute;
    z-index: 99;
}*/

.pin_unkown_4
{
    position: absolute;
    left: 80.8%;
    top: 30.3%;
    width: 1%;
}

.pakistan_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 80.8%;
    top: 20.3%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.pakistan_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 80.8%;
    position: absolute;
    z-index: 99;
}*/

.pin_unkown_5
{
    position: absolute;
    left: 59.2%;
    top: 28.8%;
    width: 1%;
}

.syria_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 59.2%;
    top: 18.8%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.syria_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 59.2%;
    position: absolute;
    z-index: 99;
}*/

.pin_iraq
{
    position: absolute;
    left: 63.2%;
    top: 34.3%;
    width: 1%;
}

.iraq_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 63.2%;
    top: 23%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.iraq_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 63.2%;
    position: absolute;
    z-index: 99;
}*/
.pin_kuwait
{
    position: absolute;
    left: 66.2%;
    top: 39.1%;
    width: 1%;
}

.kuwait_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 66.2%;
    top: 28%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.kuwait_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 66.2%;
    position: absolute;
    z-index: 99;
}*/
.pin_bahrain
{
    position: absolute;
    left: 67.7%;
    top: 44.5%;
    width: 1%;
}

.bahrain_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 67.7%;
    top: 33%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.bahrain_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 67.7%;
    position: absolute;
    z-index: 99;
}*/

.pin_qatar
{
    position: absolute;
    left: 68.4%;
    top: 48%;
    width: 1%;
}

.qatar_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 68.4%;
    top: 37%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.qatar_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 68.4%;
    position: absolute;
    z-index: 99;
}*/

.pin_oman
{
    position: absolute;
    left: 72.6%;
    top: 51.5%;
    width: 1%;
}

.oman_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 72.6%;
    top: 40%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.oman_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 72.6%;
    position: absolute;
    z-index: 99;
}*/

.pin_sudan
{
    position: absolute;
    left: 57.1%;
    top: 62.1%;
    width: 1%;
}

.sudan_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 57.1%;
    top: 51%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.sudan_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 57.1%;
    position: absolute;
    z-index: 99;
}*/

.pin_egy
{
    position: absolute;
    left: 54.5%;
    top: 36.1%;
    width: 1.4%;
}

.egy_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 54.5%;
    top: 25%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.egy_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 54.5%;
    position: absolute;
    z-index: 99;
}*/

.pin_ksa
{
    position: absolute;
    left: 65.27%;
    top: 45.4%;
    width: 1.4%;
}

.ksa_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 65.27%;
    top: 34%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.ksa_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 65.27%;
    position: absolute;
    z-index: 99;
}*/

.pin_uae
{
    position: absolute;
    left: 70.10%;
    top: 45.4%;
    width: 1.4%;
}

.uae_tool:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 70.10%;
    top: 34%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 100px;
    height: 30px;
}

/*.uae_tool:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 70.10%;
    position: absolute;
    z-index: 99;
}*/

.tooltips
{
    text-align: center;
}

.pins img
{
    width: 100%;
}
.map_image img
{
    width: 100%;
}
.map_row
{
    position: absolute;
    left: 0;
    bottom: 6%;
}

.map_row_2, .map_p_2
{
    display: none;
}
.map_p
{
    font-family: 'Aileron Regular';
    font-weight: normal;
    font-size: 14px;
    color: #000;
    background-color: #f1f1f1;
    /*width: 620px;*/
    width: 54%;
    position: relative;
    /*left: 0;
    bottom: 29px;*/
    padding-left: 63px;
    padding-right: 11px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
}

.map_p p
{
    margin-bottom: 4px;
    margin-top: 4px;
    color: #333333;
}

.map_p .span_3
{
    font-family: 'Aileron Black';
    font-size: 14px;
    color: #333333;
}
.map_p .span_2
{
    font-family: 'Aileron Regular';
    font-size:  14px;
    color: #333333;
}

.map_strips
{
    position: relative;
    float: right;
    width: 30%;
}

.map_strips img
{
    width: 100%;
}

@media screen and (max-width: 1077px) {

    .map_row
    {
        display: none;
    }

    .map_row_2, .map_p_2
    {
        display: block;
    }

    .map_p_2
    {
        background-color: #333333;
    }

    .map_p_2 p
    {
        font-family: 'Aileron Regular';
        font-weight: normal;
        font-size: 12px;
        color: #fff;
        padding: 11px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }


    .map_p_2 .span_3 
    {
        font-weight: bold;
        font-size: 12px;
    }

    .map_row_2 .map_strips
    {
        position: absolute;
        right: 0;
        bottom: 10%;
    }

    .pins
    {
        /*width: 2.4%;*/
    }
}

@media screen and (max-width: 479px) {

    .map_p_2 .span_3, .map_p_2 p
    {
        font-size: 10px;
    }
}   