.remodal-bg.with-red-theme.remodal-is-opening,
.remodal-bg.with-red-theme.remodal-is-opened {
  filter: none;
}

.basic-model
{
    background-color: #333333 !important;
}

.modal_header 
{
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
}
.modal_span_2
{
    font-family: 'Aileron Regular';
    color: #fff;
    font-size: 19px;
    float: left;
}

.modal_span
{
    font-family: 'Aileron Black';
    color: #fff;
    font-size: 19px;
    float: left;
    margin-right: 10px;
}

.modal_h3
{
    border-bottom: 0 !important;
}

.rows 
{
    margin-bottom: 10px;
    text-align: left;
    /*margin-left: auto;
    margin-right: auto;*/
}

.rows_2
{
    margin-bottom: 0;
}

.rows_3
{
    text-align: right;
}

.input_new
{
    width: 100% !important;
}

.submit_btn
{
    background-color: #319966 !important;
    padding: 8px !important;
    width: 40% !important;
    border: none;
    color: #fff;
    margin-top: 10px;
    font-family: 'Aileron Regular';
}

.submit_btn:hover
{
    background-color: #fff !important;
    color: #319966 !important;
    cursor: pointer;
}

/*.fancybox-close
{
    background-image: url('../../wp-content/themes/rsworkshop/fancybox/source/fancybox_sprite_2.png') !important;
}*/

.fancybox-inner
{
    width: 330px !important;
}

.sending
{
    color: #fff !important;
}

.success a
{
    background-color: #319966 !important;
    color: #fff;
    padding: 8px !important;
}

.success a:hover
{
    background-color: #fff !important;
    color: #319966 !important;
    cursor: pointer;
}

.post_1
{
    width: initial;
    padding-bottom: 0;
}

.output, .success
{
    display: none;
}

.remodal-close
{
    color: #319966;
}

.remodal-close:hover
{
    color: #fff;
}

.thumbnail {
  position: relative;
  /*width: 200px;*/
  height: 250px;
  overflow: hidden;
  border:none;
  border-radius:0; 
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail:hover
{
    /*border: solid 5px #339966;*/
    opacity: 0.75;
}

.landscape:hover
{
  /*border: solid 1px #339966;*/
}

.gallery_div li
{
    display: inline-block;
    margin: 0.625em; /* 10 */
    width: 22%;
}
.landscape, .portrait_div
{
    /*width: 8.75em; */
    /*height: 150px;*/
    width: 100%;
    border-color: #eee;
    border: 0.425em solid rgba( 255, 255, 255, .5 ); /* 10 */

    -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */
    box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */

    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;
}
.gallery_div
{
    padding-top: 50px;
}

.gallery_row
{
    padding-left: 2% !important;
    padding-right: 2% !important;
}

.gallery_cols
{
    padding-left: 0.5%;
    padding-right: 0%;
    margin-bottom: 0.5%;
}

.gallery_cols:hover
{
    opacity: 0.75;
    cursor: pointer;
}

.g_spans
{
    display: block;
}

.gallery_cols img 
{
    width: 100%;
}

.gallery_workshop_title 
{
  font-family: 'Aileron Black';
  font-size: 14px;
  color: #fff;
}

.gallery_client 
{
  font-family: 'Aileron Regular';
  font-size: 14px;
  color: #fff;
}

.gallery_date
{
  font-family: 'Aileron Regular';
  font-size: 14px;
  color: #fff;
}

.gallery_inside_div
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    z-index: 99;
    display: table;
    padding: 10%;
}

.gallery_background
{
    position: absolute;
    bottom: 0;
    height: 70px;
    background-color: #332f2e;
    opacity: 0.75;
    width: 100%;
    left: 0px;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

@media screen and (max-width: 1025px) {

    .gallery_div li
    {
        width: 30%;
    }
}       

@media screen and (max-width: 748px) {

    .gallery_div li
    {
        width: 45%;
        padding-top: 53%;
    }

}
@media screen and (max-width: 501px) {

    #gallery-container
    {
        padding: 0;
    }

    .gallery_div li
    {
        width: 96%;
        padding-top: 53%;
    }

    .gallery_inside_div
    {
        padding: 7%;
    }

    .gallery_workshop_title
    {
        font-size: 17px;
    }

    
}