.main_content
{
  padding-bottom: 0;
}

.image_div
{
    padding-top: 50px;
    padding-bottom: 40px;
}

.main_image
{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main_image img
{
    width: 100%;
}

.diagram_div img
{
    width: 100%;
}

