.gallery_div
{
	padding-top: 50px;
}

.gallery_row
{
	padding-right: 2% !important;
	padding-left: 0 !important;
}

.gallery_cols
{
  padding-right: 0.5%;
  padding-left: 0%;
  margin-bottom: 0.5%;
  height: 300px;
  width: 24%;
  margin-left: 0.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery_cols:hover
{
	opacity: 0.75;
	cursor: pointer;
}

.g_spans
{
	display: block;
}

.gallery_cols img 
{
	width: 100%;
}

.gallery_workshop_title 
{
  font-family: 'GESSTwoBold-Bold';
  font-size: 14px;
  color: #fff;
}

.gallery_client 
{
  font-family: 'GESSTextLight-Light';
  font-size: 14px;
  color: #fff;
}

.gallery_date
{
  font-family: 'GESSTextLight-Light';
  font-size: 14px;
  color: #fff;
}

.gallery_inside_div
{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 125px;
    z-index: 99;
    display: table;
    padding: 10%;
}

.gallery_background
{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 125px;
    background-color: #332f2e;
    opacity: 0.8;
    width: 100%;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

@media screen and (max-width: 986px) {

  .gallery_cols
  {
    width: 32%;
  }

  .last_div
  {
    margin-right: 17%;
  }
}

@media screen and (max-width: 768px) {

  .gallery_cols
  {
    width: 49%;
  }
  .last_div
  {
    margin-right: 0;
  }
}

@media screen and (max-width: 520px) {

  .gallery_row 
  {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .gallery_cols 
  {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .gallery_cols img
  {
    width: 80%;
  }

  .gallery_background 
  {
    right: 0;
    bottom: 0;
    height: 98px;
    width: 100%;
  }

  .gallery_inside_div 
  {
    position: absolute;
    right: 0;
    bottom: -6%;
    height: 125px;
    z-index: 99;
    display: table;
    padding: 10%;
    text-align: right;
  }

}