
.main_content
{
  background-color: #f2f2f2;
}
.gallery_div
{
  padding-top: 50px;
}

.gallery_row
{
  padding-left: 2% !important;
  padding-right: 0 !important;
}


.gallery_cols
{
  margin-bottom: 6%;
  width: 42%;
  margin-right: 4%;
  margin-left: 4%;
  padding: 12px;
  border: solid #319966;
  border-radius: 13px;
  height: 110px;
  display: table;
}

.quote_img
{
  width: 40px;
  position: absolute;
  top: -11px;
  left: -28px;
}

.quote_img img
{
  width: 100%;
}

.span_holder
{
  display: table-cell;
  vertical-align: middle;
}

.g_spans
{
  display: block;
}

.quote_span 
{
  font-family: 'Aileron Regular';
  font-size: 14px;
  color: #333333;
  position: relative;
  margin-bottom: 7px;
  text-align: justify;
}

.author_span 
{
  font-family: 'Aileron Bold';
  font-size: 14px;
  color: #333333;
  position: relative;
  float: right;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

@media screen and (max-width: 986px) {

  /*.gallery_cols
  {
    width: 45%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 2%;
  }*/
}

@media screen and (max-width: 768px) {

  .gallery_cols
  {
    width: 85%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery_workshop_title
  {
    font-size: 14px;
  }

  .quote_img 
  {
    width: 35px;
    left: -25px;
  }
}

@media screen and (max-width: 650px) {


}
