@font-face {
    font-family: 'Aileron Regular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Black';
    src: url('../fonts/aileron-black-webfont.eot');
    src: url('../fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-black-webfont.woff') format('woff'),
         url('../fonts/aileron-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Light';
    src: url('../fonts/Aileron-Light.eot');
    src: url('../fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Light.woff') format('woff'),
         url('../fonts/Aileron-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.main_content
{
  padding-bottom: 0;
}

.md_photo_div
{
    /*padding-top: 50px;*/
}

.md_photo
{
    margin-bottom: 40px;
}
.md_photo img
{
    width: 100%;
}

.center_img
{
    margin-bottom: 30px;
}

.wrapper_menu2
{
    background-color: #333333;
    float: left;
    margin-right: 10px;
    /*padding: 5px;*/
}

.wrapper_menu2 select
{
    background-color: #dddddd !important;
    color: #6d6d6d;
    font-family: 'Aileron Black';
    width: 145px !important;
    overflow: hidden;
    background: url(../img/filter_buttons/arrow.png) no-repeat right #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position-x: 103px;
    background-position-y: -4px;
    height: 33px;
    border-radius: 0;
    padding-bottom: 8px;
    font-size: 12px;
    margin-right: 10px;
    padding-right: 40px;
}

.wrapper_menu2 select:hover
{
    cursor: pointer;
}

.filter_table
{
    width: 100%;
}
.filter_submit
{
    background-color: #319966;
    color: #fff;
    font-size: 24px;
    padding: 9px;
    border-radius: 0;
}

.filter_submit:hover
{
    color: #319966;
    background-color: #fff;
    border: solid 1px #319966;;
}

.area_main_wrap
{
    width: 90%;
}

.pop_up_form #gform_wrapper_4 input, .ginput_container textarea, .gform_body input
{
    color: #000;
    height: 30px;
    padding-left: 5px;
    width: 100%;
    font-size: 11px;
}

.basic-model
{
    display: none;
}

.read_more_link
{
    color: #2d9966 !important;
}

.all_posts_div
{
    width: 100%;
    min-height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.cat_div
{
    position: relative;
    padding-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.cat_div:hover
{
    cursor: pointer;
}

.cat_div_1
{
    width: 5%;
    height: 40px;
    background-color: #1f6544;
    float: left;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.minus_sign
{
    display: none;
}

.cat_div_2
{
    height: 40px;
    background-color: #2d9966;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
}

.cat_div_2 span
{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}


.course_div
{
    position: relative;
    background-color: #e5e5e5;
}

.course_div_1
{
    width: 70px;
    height: 30px;
    background-color: #fff;
    float: left;
}

.course_div_2
{
    height: 30px;
    background-color: #c38e00;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.course_div_2 span
{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

.cat_posts
{
    display: none;
}

.post_div
{
    position: relative;
    background-color: #e5e5e5;
    margin-top: 5px;
}

.post_table
{
    margin-bottom: 2px;
}

.post_table th, .post_table td
{
    text-align: center;
}

.post_table thead
{
    background-color: #333333;
}

.post_table tr th
{
    font-size: 14px;
    color: #fff;
}

.post_table .odd
{
    background-color: #d7d7d7 !important;
}

.post_table .even
{
    background-color: #bababa !important;
}

.post_table tbody tr
{
    border-top: solid 3px #fff;
    border-bottom: solid 3px #fff;
}

.post_table tbody tr td
{
    font-size: 14px;
    color: #000;
    width: 14%;
}

.empty_cell
{
    width: 25%;
}

.only_cat
{
    display: block !important;
}

.disable_click:hover
{
    cursor: default !important;
}

.empty_cell
{
    background-color: #fff !important;
}

.empty_cell img
{
    float: left;
    border: none !important;
}

.empty_cell img:hover
{
    opacity: 0.8;
    cursor: pointer;
}

.overviews
{
    display: none;
}

.extra_sections
{
    padding-top: 0 !important;
}

.expand_td
{
    width: 30px;
}

.regi_online
{
    margin-top: 0 !important;
}

#header * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#header a
{
    text-decoration: none !important;
}

.plus_disable
{
    display: none !important;
}

.minus_enable
{
    display: block !important;
}

.empty_cell
{
    padding-right: 0 !important;
    background-color: #fff !important;
}

.left_img
{
    float: right !important;
    margin-right: 0 !important;
}

.right_img
{
    float: left !important;
    margin-left: 12px !important;
}

.cat_div_2 span, .course_div_2 span, .fl
{
    font-family: 'Aileron Regular';
}

.table
{
    /*font-family: 'Aileron Regular';*/
    font-family: 'Aileron Light';
}

#gform_fields_6 input
{
    height: 28px !important;
    font-family: 'Aileron Regular';
    padding-left: 10px;
    width: 100%;
    font-size: 11px;
}

.pop_up_form div label
{
    width: inherit !important;
    min-width: 150px !important;
}

.pop_up_form
{
    width: 550px;
    font-family: 'Aileron Regular';
}

.pop_up_form label
{
    font-family: 'Aileron Regular' !important;
}

.pop_up_form select
{
    width: 95%;
    margin-left: 14px;
}

#input_6_7
{
    margin-left: 7px;   
}

.row_course_2 td 
{
    position: relative;
}
.test_div 
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.brand_story_header
{
    background-color: #fff;
    padding-left: 0%;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 70px;
   /* border-top: 6px solid #e3e3e3;
    border-bottom: 6px solid #e3e3e3;*/
}

.brand_story_header_span_2
{
    font-family: 'Aileron Black';
    font-size: 35px;
    color: #c38e00;
}

.actions_div
{
    text-align: center;
    margin-bottom: 30px;
    width: 45%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.actions_div img
{
    width: 40%;
}

.overview_div p
{
    font-family: 'Aileron Light';
    font-size: 16px;
    color: #000;
    text-align: justify;
}

.tab_header
{
    font-family: 'Aileron Black';
    font-size: 25px;
    color: #c38e00;
    text-transform: uppercase;
    border-bottom: 6px solid #e3e3e3;
    margin-bottom: 6px;
}

.tab_text span
{
    display: block;
    font-family: 'Aileron Light';
    font-size: 19px;
    color: #000;
    border-bottom: 2px solid #e3e3e3;
}

.pop_up_form #gform_wrapper_4 input, .ginput_container textarea, .gform_body input
{
    color: #000;
}

.regi_online
{
    margin-top: 0 !important;
}

#header * 
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#header a
{
    text-decoration: none !important;
}

.overview_div
{
    padding: 30px;
    position: relative;
}

.overview_div p 
{
    font-family: 'Aileron Light';
    font-size: 16px;
}

.addthis_toolbox a
{
    float: right !important;
}

.action_images
{
    margin-right: 10px;
}
.action_images:hover
{
    cursor: pointer;
}

.actions_div
{
    display: none;
}
.dates_div
{
    /*width: 30%;*/
    width: 350px;
    position: relative;
    border-bottom: solid 1px #ddd;
    margin-left: 30px;
}

.dates_div tr:hover
{
    background-color: #333333 !important;
    color: #fff;
}

.dates_div tr td
{
    display: table-cell;
    vertical-align: middle !important;
    /*padding-right: 0 !important;*/
}

.date_title
{
    font-family: 'Aileron Regular';
    color: #333333;
    font-size: 16px;
    padding-left: 8px;
    background-color: #e3e3e3;
}

.regi_online
{
    /*width: 40%;*/
    width: 75px;
    margin-right: 0;
    float: right;
}

.pdf_btn
{
    width: 105px;
    position: absolute;
    right: 20px;
    top: 36px;
}

.date_table
{
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {

    .md_photo 
    {
        margin-top: 18px;
    }

    .cat_div
    {
        text-align: center;
    }

    .course_div_1
    {
        display: none;
    }

    .course_div_2
    {
        width: 100%;
        text-align: center;
    }

    .cat_div_2 span
    {
        font-size: 14px;
    }

    .course_div_2 span
    {
        font-size: 12px;
    }

    .post_table thead tr th, .post_table tbody tr td
    {
        font-size: 8px;
    }

    .right_img
    {
        margin-left: 0 !important;
    }

    .tab_header
    {
        margin-bottom: 4px;
    }

    .brand_story_header
    {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .brand_story_header_span_2, .tab_header
    {
        font-size: 16px;
    }

    .actions_div
    {
        margin-bottom: 0;
    }

    .overview_div
    {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .dates_div 
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .pdf_btn 
    {
        width: 56px;
        position: absolute;
        right: 20px;
        top: 30px;
    }

}

@media screen and (max-width: 540px) {

    .cat_div_1
    {
        font-size: 16px;
        padding-top: 7px;
    }

    .dates_div tr td
    {
        font-size: 16px !important;
    }

}

@media screen and (max-width: 479px) {


}
