

.main_content
{
  padding-bottom: 0;
  padding-top: 30px;
}

.image_div
{
    padding-top: 50px;
    padding-bottom: 40px;
}

.main_image
{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main_image img
{
    width: 100%;
}

.content_div
{
    padding: 13px !important;
    text-align: justify;
}

.content_div a
{
    color: #339966
}
.content_div p, .content_div ul, .content_div li
{
    font-family: 'GESSTextLight-Light';
    font-size: 18px;
}

.content_div strong, .content_div span 
{
    font-family: 'GESSTwoBold-Bold';
    font-size: 18px;
}

.content_div ul
{
    padding-left: 20px;
}

.vac_btn
{
    background-color: #319966;
    border: solid 1px #319966;
    color: #fff;
    border-radius: 0;
    font-family: 'GESSTextLight-Light';
    position: absolute;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 4px;
    padding-top: 3px;
    position: relative;
    display: block;
    margin-top: 35px;
}

.vac_btn:hover, .vac_btn:focus
{
  color: #319966;
  background-color: #fff;
}

@media screen and (max-width: 768px) {

    .vac_btn
    {
        margin-left: auto;
        margin-right: auto;
    }

} 

@media screen and (max-width: 479px) {

    .content_div p, .content_div ul, .content_div li, .content_div span 
    {
        font-size: 16px;
    }

} 


